<p style="margin-left: 650px;"><a href="/Dash">Bright Ideas</a>&emsp;<a  href="/Logout">Logout</a></p>
<br>
<h2>Name:  @ViewBag.User.Name</h2>
<h2>Alias: @ViewBag.User.Alias</h2>
<h2>Email: @ViewBag.User.Email</h2>
<p>_____________________________________________________________________________________________________________</p>
<h2>Total Number of Posts: @ViewBag.User.TotalPosts</h2>
<h2>Total Number of Likes: @ViewBag.User.TotalLikes</h2>